In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import joblib
import numpy as np
import tensorflow as tf

In [2]:
data = pd.read_csv('data/cleaned_data.csv')

In [3]:
data.head()

,gender,age,weight,height,zs_weight_age,zs_height_age,zs_weight_height,totalzs_3,totalzs_percentage
0,male,35,10.08,86.08,-2.56,-2.52,-1.73,-2.270000,75.67
1,male,18,8.05,79.00,-2.53,-1.33,-2.65,-2.170000,72.33
2,female,46,12.02,93.07,-2.01,-1.96,-1.24,-1.736667,57.89
3,male,44,12.07,93.00,-1.90,-1.99,-1.16,-1.683333,56.11
4,male,46,18.07,101.00,1.13,-0.30,0.10,0.310000,10.33

In [4]:
def genderEncode(gender, age, weight, height):
    # Make dictionary for label encoding
    gender_encoding = {'male': 1, 'female': 0}
    # Encode gender
    gender_encoded = gender_encoding.get(gender)
    return gender_encoded, age, weight, height

def normalize_data(gender_encoded, age, weight, height):
    normalization_model = "normalization_model.joblib"
    # Load the saved scaler using joblib
    scaler = joblib.load(normalization_model)
    feature = np.array([[gender_encoded, age, weight, height]])
    # Normalize the data using Joblib
    normalized_data = scaler.transform(feature)
    return normalized_data

def stunting_percentage(normalize_data):
    # Load the TensorFlow model
    model = "model.h5"
    model = tf.keras.models.load_model(model)
    predictions = model.predict(normalize_data)
    return predictions

In [5]:
genderEncode("male", 35, 10.08, 86.08)

(1, 35, 10.08, 86.08)

In [6]:
x = normalize_data(1, 35, 10.08, 86.08)

D:\GrowRight\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [7]:
stunting_percentage(x)

1/1 [==============================] - 0s 109ms/step

array([[-2.5005674, -2.153793 , -1.9242857, -2.1931853, 72.22465  ]],
      dtype=float32)

In [8]:
genderEncode("female", 46, 12.02, 93.07	)

(0, 46, 12.02, 93.07)

In [9]:
x = normalize_data(0, 46, 12.02, 93.07)

D:\GrowRight\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [10]:
stunting_percentage(x)

1/1 [==============================] - 0s 66ms/step

array([[-1.7859535, -1.6997411, -1.0677354, -1.4843321, 52.23275  ]],
      dtype=float32)